/* Scss Document */
$main-color: #1b4965;
$sub-color: #0072a5;
$hover-color: #8edeff;
$not-dangerous: #86c55e;
$potentially-dangerous: #eeee51;
$dangerous: #ffc400;
$very-dangerous: #ff0000;
$background-main: #00263c;
$background-secondary: #0099d9;
$background-title: #63b3d5;